
.root {
    background: red;
    align-items: center;
    justify-content: center;
}

.sub_root {
    background: lawngreen;
    row-gap: 5px;
}

.pink {
    background: deeppink;
    width: inherit;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
    width: 49%;
}

@media (min-width: 541px) {

    .blocks {
        align-self: center;
        max-width: 550px;
        width: 100%;
        height: 20%;
    }

    .margin {
        margin-right: 10px;
    }


    .root {
        width: 100%;
        max-width: 1000px;
        height: 600px;
    }

    .sub_root {
        width: 100%;
        max-width: 600px;
        height: 500px;
    }

    .block {
        display: flex;
        flex-shrink: 1;
    }

    .block:nth-child(odd) {
        max-width: 450px;
        width: 100%;
    }

    .block:nth-child(even) {
        max-width: 156px;
        width: 100%;
    }

    .block2:nth-child(odd) {
        max-width: 156px;
        width: 100%;
    }

    .block2:nth-child(even) {
        max-width: 450px;
        width: 100%;
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    .root {
        height: 100%;
        max-width: 540px;
        width: 100%;
    }

    .sub_root {
        width: 100%;
        max-width: calc(540px - 20px);
        height: inherit;
    }

    .blocks {
        row-gap: 30px;
        flex-wrap: wrap;
        height: 100%;
        min-height: 400px;
    }

    .block, .block2 {
        max-width: calc(520px - 20px);
        width: 100%;
        height: 100%;
        min-height: 400px;
    }

    .blue {
        height: 100%;
        min-height: 400px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .pink {
        width: 100%;
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    .block, .block2 {
        height: 100%;
        min-height: 150px;
    }

    .blocks {
        height: 100%;
        min-height: 150px;
    }

    .blue {
        height: 100%;
        min-height: 150px;
    }
}